body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    background: url(https://img.freepik.com/vector-premium/explosion-monedas-oro-realista-aislado-sobre-fondo-transparente_3482-439.jpg?w=740);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }


.slot-machine {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }

  .reels-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  
  .reel {
   width: 100px;
   height: 150px;
   border: 3px solid rgb(0, 0, 0);
   border-radius: 30px;
   margin-bottom: 10px;
   display: flex; 
   justify-content: center; 
   align-items: center; 
   font-size: 2em; 
      
  }
  
  #spinButton {
    border: 5px solid #000000;
    padding: 10px 20px;
    margin:20px;
    font-size: 18px;
    border-radius: 20px;
    cursor:pointer;
    width: fit-content;
  }

  .game-preview img {
   max-width: 20%;
  height: 100px;
  }
  
 